<section class="daily-section">
  <picture class="image-container">
    <source
      media="(max-width: 735px)"
      srcset="../img/daily_m@1x-min.png, ../img/daily_m@2x-min.png"
    />
    <source
      media="(min-width: 736px) and (max-width: 1407px)"
      srcset="../img/daily_t@1x-min.png, ../img/daily_t@2x-min.png"
    />
    <source
      media="(min-width: 1408px)"
      srcset="../img/daily_d@1x-min.png, ../img/daily_d@2x-min.png"
    />
    <img
      class="daily-img"
      src="../img/daily_d@1x-min.png"
      alt="model"
      width="335"
      height="269"
    />
  </picture>
  <div class="daily-card">
    <div class="daily-container">
      <div class="daily-icon">
        <svg class="daily-icon-svg" width="16" height="12">
          <use href="../img/icons.svg#icon-dambbell"></use>
        </svg>
      </div>
      <div class="daily-info">
        <h2 class="daily-title">110 min</h2>
        <p class="daily-text">Daily norm of sports</p>
        <p class="daily-text">
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day?
        </p>
      </div>
    </div>
  </div>
</section>
