<section class="exercises">
  <div class="container-ex">
    <h2 class="exercises-name">Exercises</h2>
    <div class="exercises-ft">
      <div class="exercises-buttons">
        <button class="exercises-button-muscles" data-filter="muscles">
          Muscles
        </button>
        <button class="exercises-button-bodypart" data-filter="bodypart">
          Body Parts
        </button>
        <button class="exercises-button-equipment" data-filter="equipment">
          Equipment
        </button>
      </div>
      <div class="exercises-search hidden">
        <form class="exercises-search-form">
          <input
            placeholder="Search"
            type="text"
            class="exercises-input"
            name="exercises"
          />
          <button type="submit" class="exercises-form-btn">
            <svg
              class="exercises-start-svg"
              width="12"
              height="12"
              stroke="rgb(27, 27, 27)"
              fill="#ffffff"
            >
              <use href="./img/icons.svg#icon-search"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
    <ul class="exercises-card-container"></ul>
    <div id="pagination" class="tui-pagination"></div>
  </div>
</section>

<script type="module" src="./js/exercises.js"></script>
<script type="module" src="./js/exercises_sub"></script>
