<section class="favorites-section">
  <div class="favorites-card">
    <div class="favorites-container">
      <div class="icon-complex">
      <div class="favorites-icon">
        <svg class="favorites-icon-svg" width="18" height="20">
          <use href="./img/icons.svg#icon-run_man"></use>
        </svg>
      </div>
      </div>
      <div class="favorites-icon-quotes">
        <svg class="favorites-icon-quotes-svg" width="21" height="18">
          <use href="./img/icons.svg#icon-inverted_commas28"></use>
        </svg>
      </div>
      <div class="favorites-info">
        <h2 class="favorites-title">Quote of the day</h2>
        <p class="favorites-text">
          A lot of times I find that people who are blessed with the most talent
          don't ever develop that attitude, and the ones who aren't blessed in
          that way are the most competitive and have the biggest heart.
        </p>
        <p class="favorites-sub-title">Tom Brady</p>
      </div>
    </div>
  </div>
  <picture class="image-container">
    <source
      media="(max-width: 735px)"
      srcset="./img/favquote_m@1x-min.png, ./img/favquote_m@2x-min.png"
    />
    <source
      media="(min-width: 736px) and (max-width: 1407px)"
      srcset="./img/favquote_t@1x-min.png, ./img/favquote_t@2x-min.png"
    />
    <source
      media="(min-width: 1408px)"
      srcset="./img/favquote_d@1x-min.png, ./img/favquote_d@2x-min.png"
    />
    <img
      class="favorites-img"
      src="./img/favquote_d@1x-min.png"
      alt="model"
      width="335"
      height="272"
    />
  </picture>
  <div class="favorites-card-second">
    <div class="favorites-container-second">
      <div class="favorites-icon-second">
        <svg class="favorites-icon-svg-second" width="18" height="20">
          <use href="./img/icons.svg#icon-dambbell"></use>
        </svg>
      </div>
      <div class="favorites-info-second">
        <h2 class="favorites-title-second">110 min</h2>
        <p class="favorites-text-second">Daily norm of sports</p>
      </div>
    </div>
  </div>
</section>
<script type="module" src="../js/favorites_quote.js"></script>
