<section class="favorites-section">
  <div class="favorites-card">
    <div class="favorites-container">
      <div class="icon-complex">
        <div class="favorites-icon">
          <svg class="favorites-icon-svg" width="18" height="20">
            <use href="./img/icons.svg#icon-run_man"></use>
          </svg>
        </div>
      </div>
      <div class="favorites-info">
        <h3 class="favorites-title">Quote of the day</h3>
        <p class="favorites-text"></p>
        <p class="favorites-sub-title"></p>
      </div>
      <div class="favorites-icon-quotes">
        <svg class="favorites-icon-quotes-svg" width="21" height="18">
          <use href="./img/icons.svg#icon-inverted_commas28"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="doubl_div">
    <div class="image-container"></div>
    <div class="favorites-card-second">
      <div class="favorites-container-second">
        <div class="favorites-icon-second">
          <svg class="favorites-icon-svg-second" width="18" height="20">
            <use href="./img/icons.svg#icon-dambbell"></use>
          </svg>
        </div>
        <div class="favorites-info-second">
          <h3 class="favorites-title-second">110 min</h3>
          <p class="favorites-text-second">Daily norm of sports</p>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="module" src="./js/favorites_quote.js"></script>
