<section class="favorites-quote favorites-container">
  <div class="favorites-card">
    <div class="favorites-icon">
      <svg class="favorites-icon-svg" width="20" height="20">
        <use href="../img/icons.svg#icon-run_man"></use>
      </svg>
    </div>
    <div class="favorites-info">
      <h2 class="favorites-title">Quote of the day</h2>
      <p class="favorites-text">
        A lot of times I find that people who are blessed with the most talent
        don't ever develop that attitude, and the ones who aren't blessed in
        that way are the most competitive and have the biggest heart.
      </p>
      <p class="favorites-sub-title">Tom Brady</p>
    </div>
  </div>
</section>
