<footer>
  <div class="footer-container">
    <div class="footer-soc-input">
      <div id="footer-logo-social">
        <a
          class="footer-logo"
          target="_blank"
          id="footer-logo"
          href="../index.html"
          >energy.flow</a
        >
        <ul class="footer-social">
          <li class="footer-social-icons">
            <a
              class="footer-soc-sv"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="footer-svg" width="20" height="20">
                <use href="../img/icons.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="footer-social-icons">
            <a
              class="footer-soc-sv"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              ><svg class="footer-svg" width="20" height="20">
                <use href="../img/icons.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="footer-social-icons">
            <a
              class="footer-soc-sv"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              ><svg class="footer-svg" width="20" height="20">
                <use href="../img/icons.svg#icon-youtube"></use></svg
            ></a>
          </li>
        </ul>
      </div>
      <div class="footer-text-block">
        <p class="footer-text">
          Transforming your <span class="body-span">body</span> shape with us
        </p>
      </div>
      <div class="form-ft">
        <p class="form-text">Subscribe and learn about new exercises!</p>
        <form class="footer-form">
          <label class="footer-label" for="footer-input"></label>
          <input
            class="footer-input"
            id="footer-input"
            type="email"
            pattern="/^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/"
            title="Email"
            name="email"
            placeholder="Email"
          />
          <button class="footer-button" type="submit">Send</button>
        </form>
      </div>
    </div>
    <div class="footer-policy">
      <p class="footer-text-policy">Energy Flow. All rights reserved.</p>
      <p class="footer-text-policy footer-text-policy-half2">
        Privacy Policy <span class="polici-slash">/</span> Terms of Service
      </p>
    </div>
  </div>
  <span class="loader"></span>
</footer>

<script type="module" src="../js/footer.js"></script>
