<header class="container">
  <div class="header">
    <a class="header__logo" href="./index.html" target="_self">energy.flow</a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-light_item">
          <a href="./index.html" class="header__nav-link" target="_self"
            >home</a
          >
        </li>

        <li class="header__nav-item">
          <a
            href="./favorites.html"
            class="header__nav-link light_text"
            target="_self"
            >favorites</a
          >
        </li>
      </ul>
    </nav>
    <ul class="header__icons">
      <li>
        <a
          class="header__icon_link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg class="header__icon_svg" width="28" height="28">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="header__icon_link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg class="header__icon_svg" width="28" height="28">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="header__icon_link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg class="header__icon_svg" width="28" height="28">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="header__button" type="button" title="Burger">
      <svg class="header__button_svg" width="32" height="16">
        <use href="./img/icons.svg#icon-align-justify"></use>
      </svg>
    </button>
  </div>
</header>

<script type="module" src="./js/header.js"></script>
