<section class="hero container">
  <div class="hero">
    <div class="hero_main">
      <div class="hero_img_container">
        <img class="hero_img" src="../img/hero_d@2x-min.png" alt="hero" />
        <div class="hero_tag">
          <div class="tag">#Sport</div>
          <div class="tag">#Healthy</div>
          <div class="tag">#Workout</div>
          <div class="tag">#Diet</div>
        </div>
      </div>
      <div class="hero-text">
        <h1 class="hero_title">
          Get <span class="body">Body</span> in shape, Stay healthy
        </h1>
        <p class="hero_p">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
    </div>
  </div>
</section>