<section class="hero_container">
  <div class="hero">
    <div class="hero_main">
      <div class="hero_img_container">
        
          <picture class="hero_img_p">
            <source 
            media="(max-width: 735px)" 
            srcset="./img/hero_m@1x-min.png, ./img/hero_m@2x-min.png" />
            <source 
            media="(min-width: 736px) and (max-width: 1407px)"
              srcset="./img/hero_t@1x-min.png, ./img/hero_t@2x-min.png" />
            <source 
            media="(min-width: 1408px)" 
            srcset="./img/hero_d@1x-min.png, ./img/hero_d@2x-min.png" />
            <img class="hero-img" src="./img/hero_d@1x-min.png" alt="hero"
            />
          </picture>
        <div class="hero_tag">
          <div class="tag">#Sport</div>
          <div class="tag">#Healthy</div>
          <div class="tag">#Workout</div>
          <div class="tag">#Diet</div>
        </div>
      </div>
      <div class="hero-text">
        <h1 class="hero_title">
          Get <span class="body">Body</span> in shape, Stay healthy
        </h1>
        <p class="hero_p">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
    </div>    
</section>
