<section class="hero container">
  <div>
    <img src="../img/hero_m@1x-min.png" alt="hero" />
    <div>
      <h1 class="hero_title">Get Body in shape, Stay healthy</h1>
      <p>
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore fugiat
        culpa molestias vel quasi in aperiam, nisi numquam. Quisquam illum
        repellendus asperiores beatae non ipsam veritatis consectetur modi ab
        voluptatum!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore fugiat
        culpa molestias vel quasi in aperiam, nisi numquam. Quisquam illum
        repellendus asperiores beatae non ipsam veritatis consectetur modi ab
        voluptatum!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore fugiat
        culpa molestias vel quasi in aperiam, nisi numquam. Quisquam illum
        repellendus asperiores beatae non ipsam veritatis consectetur modi ab
        voluptatum!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore fugiat
        culpa molestias vel quasi in aperiam, nisi numquam. Quisquam illum
        repellendus asperiores beatae non ipsam veritatis consectetur modi ab
        voluptatum!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore fugiat
        culpa molestias vel quasi in aperiam, nisi numquam. Quisquam illum
        repellendus asperiores beatae non ipsam veritatis consectetur modi ab
        voluptatum!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore fugiat
        culpa molestias vel quasi in aperiam, nisi numquam. Quisquam illum
        repellendus asperiores beatae non ipsam veritatis consectetur modi ab
        voluptatum!
      </p>
    </div>
  </div>
</section>
