<dialog class="modal_rating modal_rating__container">
  <button class="modal_rating_close">
    <svg class="modal_rating_icon" width="20" height="20">
      <use href="./img/icons.svg#icon-x"></use>
    </svg>
  </button>
  <form class="modal_rating_form" autocomplete="off">
    <p class="modal_rating_text">rating</p>
    <div class="modal_rating_rating">
      <div class="modal_rating_items">
        <input
          id="rating5"
          type="radio"
          class="modal_rating_item"
          name="rating"
          value="5"
        />
        <label for="rating5" class="modal_rating_label"></label>
        <input
          rating4
          type="radio"
          class="modal_rating_item"
          name="rating"
          value="4"
        />
        <label for="rating4" class="modal_rating_label"></label>
        <input
          rating3
          type="radio"
          class="modal_rating_item"
          name="rating"
          value="3"
        />
        <label for="rating3" class="modal_rating_label"></label>
        <input
          rating2
          type="radio"
          class="modal_rating_item"
          name="rating"
          value="2"
        />
        <label for="rating2" class="modal_rating_label"></label>
        <input
          rating1
          type="radio"
          class="modal_rating_item"
          name="rating"
          value="1"
        />
        <label for="rating1" class="modal_rating_label"></label>
      </div>
    </div>
    <input
      class="modal_rating_input"
      type="email"
      name="email"
      placeholder="Email"
      required
    />
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <button class="modal_rating_button" type="submit">send</button>
  </form>
</dialog>
