<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <img class="exercise-gif" src="" alt="Exercise GIF" />
    <h3 class="exercise-title"></h3>
    <div class="exercise-rating">
      <div class="rating-box">
        <span class="rating-star full-star"></span>
        <span class="rating-star full-star"></span>
        <span class="rating-star full-star"></span>
        <span class="rating-star half-star"></span>
        <span class="rating-star empty-star"></span>
      </div>
    </div>
    <div class="custom-hr"></div>
    <div class="exercise-details">
      <p class="exercise-peculiarities">
        Target: <span class="exercise-target"></span>
      </p>
      <p class="exercise-peculiarities">
        Body Parts: <span class="exercise-bodyparts"></span>
      </p>
      <p class="exercise-peculiarities">
        Equipment: <span class="exercise-equipment"></span>
      </p>
      <p class="exercise-peculiarities">
        Popular: <span class="exercise-popular"></span>
      </p>
      <p class="exercise-peculiarities">
        Burned Calories: <span class="exercise-calories"></span>
      </p>
    </div>
    <div class="custom-hr"></div>
    <div class="exercise-description">
      <p class="exercise-peculiarities-text">Description goes here...</p>
    </div>
    <div class="div-button-favorite">
      <button class="favorite-button">
        Add to Favorites
        <svg class="modal_icon" width="13" height="15">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
      </button>
    </div>
    <button class="rating-button" id="modal_rating">Give a rating</button>
  </div>
</div>
