<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close">
      <svg class="close-x" width="24" height="24">
        <use href="./img/icons.svg#icon-xb"></use>
      </svg>
    </span>
    <img class="exercise-gif" src="#" alt="Exercise GIF" />
    <div class="flex-container-modal">
      <h3 class="exercise-title"></h3>

      <div class="exercise-rating">
        <div class="rating-box">
          <p class="rating-number"></p>
          <div class="gray-star">
            <svg class="svg-star-gray" width="18" height="18">
              <use href="./img/icons.svg#icon-star_grey"></use>
            </svg>
            <div class="container-yellow-star">
              <div class="yellow-star">
                <svg class="svg-star-gray" width="18" height="18">
                  <use href="./img/icons.svg#icon-star_yellow"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="gray-star">
            <svg class="svg-star-gray" width="18" height="18">
              <use href="./img/icons.svg#icon-star_grey"></use>
            </svg>
            <div class="container-yellow-star">
              <div class="yellow-star">
                <svg class="svg-star-gray" width="18" height="18">
                  <use href="./img/icons.svg#icon-star_yellow"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="gray-star">
            <svg class="svg-star-gray" width="18" height="18">
              <use href="./img/icons.svg#icon-star_grey"></use>
            </svg>
            <div class="container-yellow-star">
              <div class="yellow-star">
                <svg class="svg-star-gray" width="18" height="18">
                  <use href="./img/icons.svg#icon-star_yellow"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="gray-star">
            <svg class="svg-star-gray" width="18" height="18">
              <use href="./img/icons.svg#icon-star_grey"></use>
            </svg>
            <div class="container-yellow-star">
              <div class="yellow-star">
                <svg class="svg-star-gray" width="18" height="18">
                  <use href="./img/icons.svg#icon-star_yellow"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="gray-star">
            <svg class="svg-star-gray" width="18" height="18">
              <use href="./img/icons.svg#icon-star_grey"></use>
            </svg>
            <div class="container-yellow-star">
              <div class="yellow-star">
                <svg class="svg-star-gray" width="18" height="18">
                  <use href="./img/icons.svg#icon-star_yellow"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="custom-hr-top"></div>
      <div class="exercise-details">
        <p class="exercise-peculiarities">
          Target: <span class="exercise-target"></span>
        </p>
        <p class="exercise-peculiarities">
          Body Parts: <span class="exercise-bodyparts"></span>
        </p>
        <p class="exercise-peculiarities">
          Equipment: <span class="exercise-equipment"></span>
        </p>
        <p class="exercise-peculiarities">
          Popular: <span class="exercise-popular"></span>
        </p>
        <p class="exercise-peculiarities">
          Burned Calories: <span class="exercise-calories"></span>
        </p>
      </div>
      <div class="custom-hr-bot"></div>
      <div class="exercise-description">
        <p class="exercise-peculiarities-text">Description goes here...</p>
      </div>
      <div class="buttons-style">
        <div class="div-button-favorite">
          <button class="favorite-button">
            Add to Favorites
            <svg class="modal_icon" width="18" height="18">
              <use href="./img/icons.svg#icon-heart"></use>
            </svg>
          </button>
        </div>
        <button class="rating-button" id="modal_rating">Give a rating</button>
      </div>
    </div>
  </div>
</div>

<script type="module" src="./js/modal_video.js"></script>
