<section class="quote-container">
  <div class="quote-wrap">
    <div class="quote-card">
      <div class="quote-card-top">
        <div class="svg-container-man">
          <svg class="quote-svg-man" fill="red" width="44" height="44">
            <use href="./img/icons.svg#icon-run_man"></use>
          </svg>
        </div>
        <h3 class="quote-card-label">Quote of the day</h3>
        <div class="svg-container-coma">
          <svg class="quote-svg-coma" fill="red" width="48" height="48">
            <use href="./img/icons.svg#icon-inverted_commas28"></use>
          </svg>
        </div>
      </div>

      <div class="quote-text">
        <p class="quote-card-text">
        </p>
        <p class="quote-card-author"></p>
      </div>
    </div>

    <div class="quote-picture">
      <ul class="quote-list">
        <li class="quote-item">
          <picture>
            <!-- Mob -->
            <source
              media="(max-width: 767.9px)"
              srcset="
                ../img/quote_m@1x-min.png 1x,
                ../img/quote_m@2x-min.png 2x
              "
            />
            <!-- Tab -->
            <source
              media="(min-width: 768px) and (max-width: 1439.9px)"
              srcset="
                ../img/quote_t@1x-min.png 1x,
                ../img/quote_t@2x-min.png 2x
              "
            />
            <!-- Desc -->
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/quote_d@1x-min.png 1x,
                ../img/quote_d@2x-min.png 2x
              "
            />
    
            <img
              src="../img/quote_m@1x-min.png"
              class="quote-img"
              alt="fit-girl"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
<script type="module" src="./js/quote.js"></script>
