<!-- <link rel="stylesheet" href="../css/styles.css" />
<link rel="stylesheet" href="../css/reset.css" /> -->


<section class="quote-container">

<div class="quote-wrap">

    <div class="quote-card">

    <div class="quote-card-top">
      <div class="svg-container-man">
<svg class="quote-svg-man" fill="red" width="44" height="44"> 
        <use href="./img/icons.svg#icon-run_man"></use> 
      </svg>            
        </svg>
    </div>
    <h3 class="quote-card-label">Quote of the day</h3>
    <div class="svg-container-coma">
<svg class="quote-svg-coma" fill="red" width="48" height="48"> 
        <use href="./img/icons.svg#icon-inverted_commas28"></use> 
      </svg>           
        </svg>
    </div>
    </div>
    
    <div class="quote-text">
        <p class="quote-card-text">A lot of times I find that people who are blessed with the most talent don't ever develop that attitude, and the ones who aren't blessed in that way are the most competitive and have the biggest heart.</p>
        <p class="quote-card-author">Tom Brady</p>
    </div>
</div>

  <div class="quote-picture">
    <ul class="quote-list">
      <li class="quote-item">
        <picture>
    <!-- Для мобильных устройств -->
    <source media="(max-width: 767px)" srcset="../img/quote_m@1x-min.png 1x, ../img/quote_m@2x-min.png 2x">
    <!-- Для планшетов и ноутбуков -->
    <source media="(max-width: 1407px)" srcset="../img/quote_t@1x-min.png 1x, ../img/quote_t@2x-min.png 2x">
    <!-- Для остальных устройств, включая настольные компьютеры -->
    <source srcset="../img/quote_d@1x-min.png 1x, ../img/quote_d@2x-min.png 2x">
    <!-- Изображение по умолчанию для браузеров, не поддерживающих srcset -->
    <img src="../img/quote_m@1x-min.png" class="quote-img" alt="fit-girl">
</picture>


      </li>
    </ul>
  </div>
</div>



</section>
<script type="module" src="../js/quote.js"></script>
