<section class="quote-container">
  <div class="quote-wrap">
    <div class="quote-card">
      <div class="quote-card-top">
        <div class="svg-container-man">
          <svg class="quote-svg-man" width="44" height="44">
            <use href="./img/icons.svg#icon-run_man"></use>
          </svg>
        </div>
        <h3 class="quote-card-label">Quote of the day</h3>
        <div class="svg-container-coma">
          <svg class="quote-svg-coma" width="48" height="48">
            <use href="./img/icons.svg#icon-inverted_commas28"></use>
          </svg>
        </div>
      </div>
      <div class="quote-text">
        <p class="quote-card-text"></p>
        <p class="quote-card-author"></p>
      </div>
    </div>
    <div class="quote-picture"></div>
  </div>
</section>
<script type="module" src="./js/quote.js"></script>
