.daily-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.image_container {
  width: 335px;
  height: 269px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: top;
  border-radius: 30px;
  
}



.daily-card {
  background-color: var(--main_text);
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 30px;
  text-align: left;
}

.daily-container {
  padding: 40px 20px;
  display: flex;
}

.daily-icon {
  color: var(--sub_text);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(246, 246, 246, 0.1);
  fill: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.daily-icon-svg {
  stroke: #f4f4fd;
}

.daily-info {
  max-width: 245px;
  margin-left: 16px;
}

.daily-title {
  color: var(--sub_text);
  letter-spacing: 0.04em;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

.daily-text {
  color: var(--sub_text);
  letter-spacing: -0.01em;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  opacity: 0.6;
  margin-top: 2px;
}

.daily-text:last-child {
  margin-top: 14px;
}

@media screen and (min-width: 768px) {
  .daily-section {
    margin-bottom: 16px;
  }
  .daily-container {
    padding: 64px 96px 64px 64px;
    height: 302;
  }
  .image_container {
    width: 736px;
    height: 302px;
  }

  .daily-card {
    border-radius: 50px;
  }
  .daily-info {
    max-width: 526px;
  }
  .daily-title {
    font-size: 24px;
    line-height: 1.2;
  }

  .daily-text {
    font-weight: 400;
    line-height: 1.5;
  }

  .daily-text:last-child {
    margin-top: 25px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .daily-container {
    padding: 64px 64px 64px 64px;
  }
  .daily-section {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .image_container {
    width: 704px;
  }

  .daily-info {
    max-width: 526px;
  }
}


@media screen and (max-width: 767.9px) {
  .image_container {
    background-image: url('../img/daily_m@1x-min.png');
  }
}

@media screen and (max-width: 767.9px) and (min-resolution: 192dpi) {
  .image_container {
    background-image: url('../img/daily_m@2x-min.png');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.9px) {
  .image_container {
    background-image: url('../img/daily_t@1x-min.png');
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.9px) and (min-resolution: 192dpi) {
  .image_container {
    background-image: url('../img/daily_t@2x-min.png');
  }
}

@media screen and (min-width: 1440px) {
  .image_container {
    background-image: url('../img/daily_d@1x-min.png');
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .image_container {
    background-image: url('../img/daily_d@2x-min.png');
  }
}