.exercises {
  margin-bottom: 20px;
}

.exercises-name {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.container-ex {
  background-color: var(--main_background);
  padding: 40px 20px 40px;
}

.exercises-ft {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}

.exercises-buttons {
  display: flex;
  gap: 10px;
}

.exercises-button-muscles {
  width: 81px;
  height: 32px;
}

.exercises-button-bodypart,
.exercises-button-equipment {
  width: 99px;
  height: 32px;
}

.exercises-button-muscles,
.exercises-button-bodypart,
.exercises-button-equipment {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 7px, 14px, 7px, 14px;
  border-radius: 30px;
  border: none;
  color: var(--main_text);
  background-color: rgb(246, 246, 246);
}

.active {
  color: var(--sub_tex);
  background-color: var(--button_fon);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 40px;
  margin-bottom: 20px;
}

.card-item {
  width: 313px;
  height: 250px;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  border: 1px solid rgba(246, 246, 246, 0.3);
}

.card-image {
  width: 100%;
  height: 100%;
}

.card-item-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(0deg,
      rgba(16, 16, 16, 0.7),
      rgba(16, 16, 16, 0.7)),
    linear-gradient(0deg, rgba(246, 246, 246, 0.3), rgba(246, 246, 246, 0.3));
  position: absolute;
  inset: 0;

  .filter {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #7e847f;
  }

  .name {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--sub_text);
  }
}

#pagination {
  text-align: center;
}

/* #pagination.active {
  background-color: var(--button_fon_gray);
  color: var(--main_text);
  border: 1px solid var(--main_text);
} */
.pag-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #1b1b1b66;
  background-color: var(--button_fon_gray);
  cursor: pointer;
}

@media screen and (max-width: 735px) {
  .container-ex {
    min-width: 320px;
    max-width: 335px;
    margin: 0 auto;
    height: 100%;
  }
}

@media screen and (min-width: 736px) {
  .exercises {
    margin-bottom: 20px;
  }

  .exercises-buttons {
    gap: 6px;
    margin-bottom: 40px;
  }

  .exercises-button-muscles,
  .exercises-button-bodypart,
  .exercises-button-equipment {
    padding: 7px 14px;
    font-size: 14px;
  }

  .card-container {
    flex-direction: row;
    gap: 20px;
    row-gap: 20px;
  }

  .card-item {
    width: 295px;
    height: 232px;
  }
}

@media screen and (min-width: 1408px) {
  .exercises-buttons {
    gap: 8px;
  }

  .card-container {
    column-gap: 14px;
    row-gap: 14px;
  }
}