/* ===exercises-body-parts-mob===*/
.exercises-item {
    max-width: 295px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: rgb(255, 255, 255);
}

.card-container {
    background: rgb(232, 232, 232);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.exercises-sub-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 79px;
    margin-bottom: 25px;
}

.exercises__workout-rating {
    display: flex;
    align-items: center;
    gap: 16px;
}

.exercises-workout {
    padding: 5px 8px;
    text-transform: uppercase;
    border-radius: 15px;
    background: rgb(126, 132, 127);
    color: rgb(246, 246, 246);
    font-size: 12px;
    font-weight: 500;
    /*line-height: 1.33;*/
}

.exercises-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.exercises-rating__text {
    color: rgb(27, 27, 27);
    font-size: 12px;
    line-height: 1.5;
}

.exercises-rating__svg {}

.exercises-start {
    display: flex;
    align-items: center;
    gap: 9px;
}


.exercises-start__text {
    color: rgb(27, 27, 27);
    font-size: 14px;
    line-height: 1.28;
}

.exercises-start__svg {
    stroke: rgb(27, 27, 27);
    width: 11.38px;
    height: 11.38px;
}

.exercises-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
}

.exercises-title__svg {}

.exercises-title-text {
    color: rgb(27, 27, 27);
    font-size: 20px;
    line-height: 1;
}

.exercises-text {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 16px;
}

.exercises-text__content {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    line-height: 1.5;
}

.exercises-text__static {
    color: rgba(27, 27, 27, 0.4);
}

.exercises-text__dynamic {
    color: rgb(27, 27, 27);
}

/* ===exercises-body-parts-tab===*/
/* ===exercises-body-parts-desk===*/