.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* margin-top: 32px; */
}

.header__logo {
  display: block;
  font-weight: 700;
  letter-spacing: -2%;
}

.header__icons {
  display: flex;
  column-gap: 12px;
}
.header__icon_link {
}
.header__icon_svg {
}

@media screen and (max-width: 735px) {
  .header__nav,
  .header__icons {
    display: none;
  }

  .header__logo {
    font-size: 16px;
    line-height: 1.125;
  }

  .header__button {
    background-color: transparent;
    width: 32px;
    height: 16px;
  }
}

@media screen and (min-width: 736px) {
  .header__button {
    display: none;
  }
  .header__logo {
    font-size: 28px;
    line-height: 1.75;
  }

  .header__nav-list {
    display: flex;
    padding: 8px 16px;
    background-color: var(--button_fon);
    border-radius: 60px;
  }

  .header__nav-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
    text-transform: capitalize;
  }

  .header__nav-light_item {
    padding: 6px 26px;
    background-color: #ffffff;
    border-radius: 30px;
  }

  .header__nav-item {
    padding: 6px 0px 6px 16px;
  }

  .light_text {
    color: var(--sub_text);
  }

  .header__icon_link {
    display: block;
    width: 44px;
    height: 44px;
  }
}
