.header {
  position: absolute;
  top: 32px;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  width: 100%;
}

.favheader {
  display: flex;
  justify-content: space-between;
  /* align-items: baseline; */
}

.header__logo,
.favheader__logo {
  display: block;
  font-weight: 700;
  letter-spacing: -2%;
  height: 100%;
}

.favheader__logo {
  margin-top: 50px;
}

.header__icons {
  display: flex;
  column-gap: 12px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header__logo,
.favheader__logo {
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.header__logo:hover,
.header__logo:focus,
.favheader__logo:hover,
.favheader__logo:focus {
  transform: scale(1.1);
}

.header__icon_link .header__icon_svg {
  fill: var(--button_fon);
  stroke: var(--button_fon);

  transition-property: fill, stroke;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.header__icon_link:hover .header__icon_svg,
.header__icon_link:focus .header__icon_svg {
  fill: var(--button_fon_hover);
  stroke: var(--button_fon_hover);
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 56px;
  }

  .favheader {
    padding: 0 40px;
  }

  .header__nav,
  .favheader__nav,
  .header__icons {
    display: none;
  }

  .header__logo {
    display: block;
    font-size: 16px;
    line-height: 1.125;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
  }

  .favheader__logo {
    display: block;
    font-size: 16px;
    line-height: 1.125;
    margin-top: 20px;
    margin-bottom: 38px;
  }

  .header__button,
  .favheader__button {
    background-color: transparent;
    width: 32px;
    height: 16px;
  }

  .header__button_svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 64px;
  }

  .favheader {
    padding: 0 48px;
  }

  .header__button,
  .favheader__button {
    display: none;
  }
  .header__logo,
  .favheader__logo {
    font-size: 28px;
    line-height: 1.75;
  }

  .favheader__nav {
    margin-top: 48px;
    margin-bottom: 80px;
  }

  .header__nav-list {
    display: flex;
    padding: 8px 16px;
    background-color: var(--button_fon);
    border-radius: 60px;
  }

  .header__nav-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
    text-transform: capitalize;
  }

  .header__nav-light_item {
    padding: 6px 26px;
    background-color: #ffffff;
    border-radius: 30px;
  }

  .header__nav-item {
    padding: 6px 0px 6px 16px;
  }

  .light_text {
    color: var(--sub_text);
  }

  .header__icon_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid var(--button_fon);
    border-radius: 10px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: ease;
  }

  .header__icon_link:hover {
    border-color: var(--button_fon_hover);
    transform: scale(1.2);
  }

  .favhicon {
    margin-top: 52px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 0 80px;
  }

  .favheader {
    padding: 0 64px;
  }

  .favheader__nav {
    margin-top: 48px;
    margin-bottom: 64px;
  }
  .favhicon {
    margin-top: 52px;
  }
}
