.modal_rating {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  margin: 0 auto;

  background-color: var(--sub_text);
  border-radius: 20px;
  overflow: hidden;
}
.modal_rating::backdrop {
  background-color: rgba(27, 27, 27, 0.6);
}
.modal_rating__container {
  position: relative;
  min-width: 320px;
}
.modal_rating_close {
  position: absolute;
  right: 14px;
  top: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.modal_rating_close:hover {
  transform: scale(1.2);
}

.modal_rating_icon {
  display: block;
}

.modal_rating_svg {
  fill: rgba(27, 27, 27, 0.4);
  stroke: rgba(27, 27, 27, 0.4);
}

.modal_rating_text {
  color: var(--main_text);
  font-weight: 500;
  line-height: 1.33;
  text-transform: capitalize;
}

.modal_rating_part {
  display: flex;
  column-gap: 2px;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal_rating_digit {
  font-weight: 400;
  line-height: 1.5;
}

.modal_rating_stars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  color-scheme: 2px;
}

.modal_rating_stars input {
  display: none;
}

.modal_rating_stars label {
  font-size: 24px;
  color: rgba(27, 27, 27, 0.2);
  padding: 2px;
  float: right;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color: #eea10c;
}

input:checked ~ label {
  color: #eea10c;
}

/* .modal_rating::before {
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='24' width='24'><path d='M13.826 3.262c.684-2.106 3.663-2.106 4.348 0l1.932 5.945a2.285 2.285 0 0 0 2.174 1.579h6.251c2.214 0 3.135 2.833 1.344 4.135l-5.057 3.674a2.286 2.286 0 0 0-.83 2.556l1.931 5.945c.684 2.106-1.726 3.857-3.517 2.555l-5.057-3.674a2.286 2.286 0 0 0-2.687 0l-5.057 3.674c-1.791 1.302-4.202-.45-3.517-2.555l1.932-5.945a2.287 2.287 0 0 0-.83-2.556l-5.057-3.674c-1.791-1.302-.871-4.135 1.344-4.135h6.251c.99 0 1.868-.638 2.174-1.579l1.932-5.945z' stroke='%237e847f' /></svg>");
} */
/* .modal_rating_rate {
  position: relative;
  font-size: 24px;

  display: block;
}

.modal_rating_rating::before {
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='24' width='24'><path d='M13.826 3.262c.684-2.106 3.663-2.106 4.348 0l1.932 5.945a2.285 2.285 0 0 0 2.174 1.579h6.251c2.214 0 3.135 2.833 1.344 4.135l-5.057 3.674a2.286 2.286 0 0 0-.83 2.556l1.931 5.945c.684 2.106-1.726 3.857-3.517 2.555l-5.057-3.674a2.286 2.286 0 0 0-2.687 0l-5.057 3.674c-1.791 1.302-4.202-.45-3.517-2.555l1.932-5.945a2.287 2.287 0 0 0-.83-2.556l-5.057-3.674c-1.791-1.302-.871-4.135 1.344-4.135h6.251c.99 0 1.868-.638 2.174-1.579l1.932-5.945z' stroke='%237e847f' /></svg>");
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='24' width='24'><path d='M13.826 3.262c.684-2.106 3.663-2.106 4.348 0l1.932 5.945a2.285 2.285 0 0 0 2.174 1.579h6.251c2.214 0 3.135 2.833 1.344 4.135l-5.057 3.674a2.286 2.286 0 0 0-.83 2.556l1.931 5.945c.684 2.106-1.726 3.857-3.517 2.555l-5.057-3.674a2.286 2.286 0 0 0-2.687 0l-5.057 3.674c-1.791 1.302-4.202-.45-3.517-2.555l1.932-5.945a2.287 2.287 0 0 0-.83-2.556l-5.057-3.674c-1.791-1.302-.871-4.135 1.344-4.135h6.251c.99 0 1.868-.638 2.174-1.579l1.932-5.945z' stroke='%237e847f' /></svg>");
  display: block;
}

.modal_rating_items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}
.modal_rating_item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}
.modal_rating_label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: rgba(27, 27, 27, 0.4);
}

.modal_rating_label::before {
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20' width='20'><path d='M13.826 3.262c.684-2.106 3.663-2.106 4.348 0l1.932 5.945a2.285 2.285 0 0 0 2.174 1.579h6.251c2.214 0 3.135 2.833 1.344 4.135l-5.057 3.674a2.286 2.286 0 0 0-.83 2.556l1.931 5.945c.684 2.106-1.726 3.857-3.517 2.555l-5.057-3.674a2.286 2.286 0 0 0-2.687 0l-5.057 3.674c-1.791 1.302-4.202-.45-3.517-2.555l1.932-5.945a2.287 2.287 0 0 0-.83-2.556l-5.057-3.674c-1.791-1.302-.871-4.135 1.344-4.135h6.251c.99 0 1.868-.638 2.174-1.579l1.932-5.945z' stroke='%23eea10c' /></svg>");
  display: block;
  transition: color 0.3s ease 0s;
}

.modal_rating_item:checked,
.modal_rating_item:checked ~ .modal_rating_item:hover {
  color: #eea10c;
}

.modal_rating_label:hover,
.modal_rating_label:hover ~ .modal_rating_label,
.modal_rating_label:checked ~ .modal_rating_label:hover {
  color: #eea10c;
} */

.modal_rating_input,
.modal_rating_textarea {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--main_text);
  letter-spacing: 0.64px;

  border: 1px solid rgba(27, 27, 27, 0.4);
  border-radius: 20px;
  background-color: transparent;
  padding: 12px 14px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_rating_input:hover,
.modal_rating_textarea:hover {
  border-color: var(--main_text);
}

.modal_rating_input::placeholder,
.modal_rating_textarea::placeholder {
  color: rgba(27, 27, 27, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.modal_rating_button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  background: var(--button_fon);

  color: var(--sub_text);
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: capitalize;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_rating_button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 735px) {
  .modal_rating {
    height: 357px;
    width: 335px;
  }

  .modal_rating__container {
    padding: 40px 20px;
  }

  .modal_rating_text {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .modal_rating_part {
    margin-bottom: 20px;
  }

  .modal_rating_input {
    width: 295px;
    height: 42px;
    margin-bottom: 10px;
  }

  .modal_rating_textarea {
    width: 295px;
    height: 93px;
    margin-bottom: 20px;
  }

  .modal_rating_input::placeholder,
  .modal_rating_textarea::placeholder {
    font-size: 14px;
    line-height: 1.29;
  }

  .modal_rating_button {
    width: 295px;
    padding: 12px;
    font-size: 14px;
    letter-spacing: 1.29;
  }
}

@media screen and (min-width: 736px) {
  .modal_rating {
    height: 432px;
    width: 450px;
  }

  .modal_rating__container {
    padding: 50px;
  }

  .modal_rating_text {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .modal_rating_part {
    margin-bottom: 32px;
  }

  .modal_rating_input {
    width: 350px;
    height: 42px;
    margin-bottom: 16px;
  }

  .modal_rating_textarea {
    width: 350px;
    height: 106px;
    margin-bottom: 32px;
  }

  .modal_rating_input::placeholder,
  .modal_rating_textarea::placeholder {
    font-size: 16px;
    line-height: 1.5;
  }

  .modal_rating_button {
    width: 350px;
    padding: 12px;
    font-size: 16px;
    letter-spacing: 1.5;
  }
}
